.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    padding: 12px 20px;
    color: white;
    position: relative;
    z-index: 2;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links li a:hover {
    text-decoration: none;
    color: black;
}
.navbar-logout-btn {
  background-color: transparent; 
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.navbar-logout-btn:hover {
  background-color: white;
  color: darkblue;
}
